.Navbar {
    width: 100%;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    background-color: white;
    border-bottom: 1px solid lightgray;
}